<div class="container">
    <h2 class="title"> Edit</h2>

    <% if @user.errors.any? %>
        <div class="mt">
            <% @user.errors.full_messages.each do |message| %>
                <p class="mb-sm text-red"><%= message %></p>
            <% end %>
        </div>
    <% end %>

    <div class="mt">
        <%= form_with model: @user, data: {turbo: false} do |form| %>
            <p><%= form.label :name, "Name" %></p>
            <p><%= form.text_field :name, class: "form-text-field" %></p>

            <p class="mt"><%= form.label :nickname, "Nickname" %></p>
            <p><%= form.text_field :nickname, class: "form-text-field" %></p>

            <p class="mt-lg text-sm">If you do not want to change your password, leave this field blank</p>

            <p class="mt"><%= form.label :password, "Password" %></p>
            <p><%= form.password_field :password, class: "form-text-field" %></p>

            <p class="mt"><%= form.label :password_confirmation, "Password confirmation" %></p>
            <p><%= form.password_field :password_confirmation, class: "form-text-field" %></p>

            <p class="mt-lg"><%= form.submit "Confirm edit", class: "button button-main" %></p>
            <span class="text-sm">or <%= link_to "Return", :back %></span>
        <% end %>
    </div>

    <div class="mt-lg">
        <%= button_to "Delete profile", user_path(@user), 
            method: :delete, 
            form: {data: {turbo_confirm: "Delete profile?"}},
            class: "text-red text-sm" %>
    </div>
</div>